body {
    background-color: burlywood;
    //background-image: url(border1.jpg);
}

.header, .footer {
    height: 50px;
    width: 800px;
    border: solid 2px #30874e;
    clear: right;
    overflow: hidden;
}
.header_layout {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    opacity: 1.0;
}

div#header_text {
    width: 585px;
    background-image: url(border1.jpg);
    opacity: 0.4;

    // look @ z-index
}

.header_logo {
    display: inline-block;
    height: 46px;
    width: 200px;
    border: solid 1px black;
}

.footer {
    text-align: center;
}

.main_menu {
    height: 600px;
    width: 598px;
    border: solid 2px #ff3c2d;
    margin-left: 202px;
}

.sidebar {
    height: 600px;
    width: 200px;
    border: solid 2px blue;
    float: left;
}

.sidebar a:link    {  color: red; }
.sidebar a:visited {  color: black;  }
.sidebar a:hover   { color: blue; }
.sidebar a:active  { color: yellow; }

div.box-set {
    background: burlywood;
    height: 580px;
    border: solid 2px red;
}

div.main {
    display: inline-block;
    /* you can have background that change color over a box, you can also specify where it  */
    /* will start and stop - example to_right, to_bottom, etc */
    /* radial-gradient start from the center and go outwards */
    /* you can even repeat gradients */
    background: linear-gradient(#2db34a, lightgreen);
    /* background: #2db34a; */
    height: 270px;
    width: 270px;
    border: solid 2px black;
    padding: 5px;
    margin: 3px;
    overflow: hidden;
    //white-space: nowrap;
    /* rounded corners, you can any top, right, bottom, left - example 20px, 20px, 20px 20px */
    border-radius: 20px;
    /* add shadows to boxes, you can also do inner shadows (use inset keyword) */
    box-shadow: 5px 5px 3px 1px #999;
    /* turn the boxes by 5 degrees, you also have skewing, scale, translate */
    /* you can mix and match the above or use matrix */
    /* you can use transform-origin to pin-point where the rotate should happen, top, bottom, center, anywhere */
    transform: rotate(-5deg);
}